html, body {
    overflow: hidden;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
  }

#circleContainer {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden; /* Ensures no scrolling */
  }
  
  .circle {
    position: absolute;
    border-radius: 50%; /* Makes it a circle */
    opacity: 0.5; /* 50% transparency */
  }